<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load i18n %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home - Jewel Travel Laos</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="{% static 'jewel_vehicle_service/assets/img/favicon.png' %}" rel="icon"> -->
  <!-- <link href="{% static 'jewel_vehicle_service/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'jewel_vehicle_service/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'jewel_vehicle_service/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'jewel_vehicle_service/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'jewel_vehicle_service/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'jewel_vehicle_service/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'jewel_vehicle_service/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'jewel_vehicle_service/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'jewel_vehicle_service/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <style>
    @font-face {
      font-family: 'NotoSansLao';
      src: url('../../static/fonts/NotoSansLao-Regular.ttf'),
    }

    * {
      * {
        font-family: "NotoSansLao" !important;
      }
    }
  </style>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="{% url 'home' %}"></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="{% static 'jewel_vehicle_service/assets/img/rent-a-car-icon.webp' %}" alt="" class="img-fluid"></a> -->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'home' %}">{% trans "Home" %}</a></li>
          <li><a class="nav-link scrollto" href="{% url 'about' %}">{% trans "About" %}</a></li>
          <li><a class="nav-link scrollto" href="{% url 'service' %}">{% trans "Services" %}</a></li>
          <!-- <li><a class="nav-link   scrollto" href="{% url 'portfolio' %}">{% trans "Portfolio" %}</a></li> -->
          <!-- <li><a class="nav-link scrollto" href="#">Team</a></li> -->
          <li><a class="nav-link scrollto" href="{% url 'contact' %}">{% trans "Contact" %}</a></li>
          <!-- <li><a class="getstarted scrollto" href="#about">Get Started</a></li> -->
          
          <li class="dropdown">
            <a href="#"><span><img id="language-flag" src="" alt="" width="40"></span>
              <!-- <i class="bi bi-chevron-down"></i> -->
            </a>
            <ul>
              <!-- <li><a href="#">English</a></li> -->
              <!-- <li><a href="#">Lao</a></li> -->
              <li>
                <a class="dropdown-item text-left" href="#" onclick="changeLanguage('en')">
                  <!-- English flag image -->
                  <img src="{% static 'jewel_vehicle_service/assets/img/flags/Flag_of_United_States-64x34.png' %}" alt="English" width="40" height="24">
                  {% trans "English" %}
                </a>
                <a class="dropdown-item text-left" href="#" onclick="changeLanguage('lo')">
                  <!-- Lao flag image -->
                  <img src="{% static 'jewel_vehicle_service/assets/img/flags/Flag_of_Laos-64x43.png' %}" alt="Lao" width="40" height="24">
                  {% trans "Lao" %}
                </a>
              </li>
              <!-- <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li> -->
            </ul>
          </li>

          {% if request.user.is_authenticated %}
            <li><a class="" href="{% url 'user-profile' %}">{% trans "Profile" %}</a></li>
            <li><a class="getstarted" href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
          {% else %}
            <li><a class="getstarted btn btn-outline-info" href="{% url 'login' %}">{% trans "Login" %}</a></li>
          {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->

  <!-- ======= Main Section ======= -->
  {% block content %} {% endblock content %}

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>
              Stay up-to-date with our latest news, updates, and special offers. Enter your email below to subscribe:
              <br>
              By clicking “Subscribe”, you agree to receive marketing emails from us. You can unsubscribe at any time.
            </p>
            <form action="" method="post">
              {% csrf_token %}
              <input type="email" name="email">
              <input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>J Vehicle Service</h3>
            <p>
              Phetsarat Road <br>
              Ban Phan Luang, Luang Prabang<br>
              Laos <br><br>
              <strong>Phone:</strong> +856-20-52436565 <br>
              <strong>Email:</strong> jeweltravellaos@gmail.com <br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home' %}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'about' %}">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'service' %}">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#terms">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#privacy">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home' %}#team">Car Rental</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'service' %}#cycling">Cycling Adventure Laos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'service' %}#minivan">Minivan Support</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li> -->
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li> -->
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>JVS</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designed by <a href="#designed-by">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  
  <script>
    function changeLanguage(language) {
      // Redirect to the corresponding language page
      window.location.href = "/" + language + "/";
    }

    function updateFlag() {
      var flagImage = document.getElementById('language-flag');
      var currentUrl = window.location.pathname;
      
      // Check if the current URL indicates Lao
      if (currentUrl.includes('/lo/')) {
        flagImage.src = "{% static 'jewel_vehicle_service/assets/img/flags/Flag_of_Laos-64x43.png' %}";
        flagImage.alt = "Lao";
      } else {
        // Default to English if the URL doesn't specify Lao
        flagImage.src = "{% static 'jewel_vehicle_service/assets/img/flags/Flag_of_United_States-64x34.png' %}";
        flagImage.alt = "English";
      }
    }

    // Call the function to update the flag when the page loads
    updateFlag();

  </script>


  <!-- Vendor JS Files -->
  <script src="{% static 'jewel_vehicle_service/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'jewel_vehicle_service/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'jewel_vehicle_service/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'jewel_vehicle_service/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'jewel_vehicle_service/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'jewel_vehicle_service/assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'jewel_vehicle_service/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'jewel_vehicle_service/js/main.js' %}"></script>

</body>

</html>