{% extends 'jewel_vehicle_service/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<!-- ======= Hero Section ======= -->
{% include 'jewel_vehicle_service/partials/hero-section-about.html' %}

<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>{% trans "About us" %}</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6 pt-4 pt-lg-0">
        <h2 class="text-uppercase">Our Mission</h2>
        <p>
          Phai as in photo of a pickup and bicycles, who has been working in tourism for 25 years.
          Experienced work with Green Discovery Laos for a long time.
          Managing Green Discovery Laos Tour office in LuangPrabang over 10 year.
          We are proud to offer all adventure tours in Laos.
          Partner with a “mountain goat” cyclist in Vietnam who loves to offer all overland tour between Vietnam and Laos.
        </p>
        <a href="#learn-more" class="btn-learn-more">Learn More</a>
      </div>
      <div class="col-lg-6">
        <h2 class="text-uppercase">Our Core Values</h2>
        <ul>
          <li><i class="ri-check-double-line"></i> Bicycle mechanic support for all adventure tours.</li>
          <li><i class="ri-check-double-line"></i> Tailor made program on request for group.</li>
          <li><i class="ri-check-double-line"></i> Pickup rental for self driving Laos.</li>
        </ul>
      </div>
      
    </div>

  </div>
</section><!-- End About Us Section -->
{% endblock content %}
